; diagnostics: pipe git config info to rg or grep and search element
; e.g. 'git config --list | rg delta'

[url "git@github.com:"]
    insteadOf = https://github.com/

;[user]
;    name = <your name>
;    email = <your-noreply-email>@users.noreply.github.com

[init]
    defaultBranch = main
    ;defaultBranch = master
    ;defaultBranch = trunk
    ;defaultBranch = default

[core]
    pager = delta --navigate;  --line-numbers
    editor = nano
    ;editor = vim
    ;editor = nvim
    ;editor = helix
    excludesFile = ~/.config/git_global/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
; NOTE: delta toml options do not work with the GIT_CONFIG_(GLOBAL/SYSTEM) vars
; see: https://github.com/dandavison/delta/issues/1113
; PR@: https://github.com/libgit2/libgit2/issues/6182
; workaround: call pager above with delta cli-arguments
    navigate = true
    ; line-numbers = true
    ; side-by-side = true
    ; light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
